@page "/weather"
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using Negocio.Clases
@inject NavigationManager NavigationManager

<PageTitle>Productos: </PageTitle>

<h1>Productos ingresados</h1>

<p>Alimentos</p>

@if (Lista_Alimentos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="space-table">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Precio de venta</th>
                        <th>Precio de compra</th>
                        <th>Fecha vencimiento</th>
                        <th>Unidad de medida</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produ in Lista_Alimentos)
                    {
                        <tr>
                            <td>@produ.nombre_producto</td>
                            <td>@produ.codigo</td>
                            <td>@produ.descripcion</td>
                            <td>@produ.precio_venta</td>
                            <td>@produ.precio_compra</td>
                            <td>@produ.fecha_vencimieto</td>
                            <td>@produ.unidad_medida</td>
                            <td>
                                <button class="btn btn-warning"
                                        @onclick="@(() => NavigationManager.NavigateTo($"/alimento-editar/{produ.codigo}"))">
                                    Editar
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        @onclick="@(() => NavigationManager.NavigateTo($"/alimento-borrar/{produ.codigo}"))">
                                    Borar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

}


@code {

    private List<Alimento> Lista_Alimentos = new List<Alimento>();

    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedAlimentos = localStorage.GetItem<List<Alimento>>("Registro_Productos");
        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedAlimentos != null)
        {
            Lista_Alimentos = savedAlimentos;
        }
    }
}
